<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.AnswerMapper">
    <!--根据 uid 查询该用户所有回答过的问题数据-->
    <select id="getAnswerByUid" resultType="org.sang.bean.Answer">
      SELECT * FROM answer
      WHERE uid = #{uid} AND status = 1
    </select>
    <!--获取某一问题的所有答案-->
    <select id="getAnswerByAid" resultType="org.sang.bean.Answer">
      SELECT * FROM answer
      WHERE aid = #{aid} AND status = 1
    </select>
    <!--点赞数 +1-->
    <update id="praise">
        UPDATE answer SET praise_num = praise_num+1 WHERE id = #{id}
    </update>
    <!--点赞数 -1-->
    <update id="cancelPraise">
        UPDATE answer SET praise_num = praise_num-1 WHERE id = #{id}
    </update>

    <!--  以下全都不是正确的  -->
    <insert id="addNewArticle" parameterType="org.sang.bean.Answer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article SET title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cid=#{cid},uid=#{uid},publishDate=#{publishDate},state=#{state},editTime=#{editTime}
    </insert>
    <update id="updateArticle" parameterType="org.sang.bean.Answer">
        UPDATE article SET
        title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cid=#{cid},editTime=#{editTime}
        <if test="state==1">
            ,state=1
        </if>
        <if test="publishDate!=null">
            ,publishDate=#{publishDate}
        </if>
        WHERE id=#{id}
    </update>
    <select id="getArticleByState" resultType="org.sang.bean.Answer">
        SELECT a.id,a.`title`,a.`editTime`,a.`pageView`,a.`state`,u.`nickname`,c.`cateName`,a.uid FROM article a,user
        u,category c WHERE a.`cid`=c.`id` AND a.`uid`=u.`id`
        <if test="state!=-2">
            and a.uid=#{uid}
        </if>
        <if test="state!=-1 and state!=-2">
            and a.state=#{state}
        </if>
        <if test="state==-2">
            and a.state=1
        </if>
        <if test="keywords!=null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>

    <select id="getArticleByCid" resultType="org.sang.bean.Answer">
        SELECT a.id,a.`title`,a.`editTime`,a.cid,a.`pageView`,a.`state`,u.`nickname`,c.`cateName`,a.uid FROM article a join user u on a.uid = u.id
        join category c on a.cid = c.id
        where cid = #{cid}
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>

    <delete id="deleteArticleById">
        DELETE FROM article WHERE id IN
        <foreach collection="aids" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>
    <select id="getArticleById" parameterType="Long" resultMap="BaseResultMap">
        SELECT a.*,t.`tagName`,t.`id` AS tid,u.`nickname`,c.`cateName` FROM article a LEFT JOIN article_tags ats ON a.`id`=ats.`aid` LEFT JOIN tags t ON ats.`tid`=t.`id` LEFT JOIN user u ON a.`uid`=u.`id` LEFT JOIN category c ON a.`cid`=c.`id` WHERE a.id=#{aid}
    </select>

    <resultMap id="BaseResultMap" type="org.sang.bean.Answer">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="aid" property="aid"/>
        <result column="uid" property="uid"/>
        <result column="cid" property="cid"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="praise_num" property="praise_num"/>
        <result column="collect_num" property="collect_num"/>
        <result column="status" property="status"/>
    </resultMap>
</mapper>